<div class="clearfix">
	<div class="center">
		<div class="inline-block overflow-hidden border rounded">
			<% if (page.prev){ %>
			<a href="<%- config.root %><%- page.prev_link %>" class="left btn border-right">
				<svg class="icon" data-icon="chevron-left"></svg>
				<%= __('prev') %>
			</a>
			<% } %>
			<% if (page.next){ %>
			<a href="<%- config.root %><%- page.next_link %>" class="right btn">
				<%= __('next') %>
				<svg class="icon" data-icon="chevron-right"></svg>
			</a>
			<% } %>
			<div class="overflow-hidden sm-show">
				<!--<% if (page.current != 1) { %>
				<a href="<%- config.root %>" class="left btn border-right">1</a>
				<% } %>-->
				<!--<% for (var p = 2; p < page.total; p++) { %>
					<% if (p != page.current) { %>
					<a href="<%- config.root %><%= (p == 1) ? '' : 'page/' + p %>" class="left btn border-right"><%= p %></a>
					<% } %>
				<% } %>-->

				<% for (var p = 2 * show + 1; p > 0; p--) { %>
					<% if(page.current - p > 0) { %>
						<% if (page.current - p == 1) { %>
							<a href="<%- config.root %>" class="left btn border-right">1</a>
						<% }else{ %>
							<a href="<%- config.root %>page/<%= page.current - p %>" class="left btn border-right"><%= page.current - p %></a>
						<% } %>
					<% } %>
				<% } %>

				<span class="left btn border-right"><%= page.current %></span>

				<% for (var p = 1; p < show + 1; p++) { %>
					<% if(page.current <= page.total) { %>
						<a href="<%- config.root %>page/<%= page.current + p %>" class="left btn border-right"><%= page.current + p %></a>
					<% } %>
				<% } %>

				<!--<% if (page.current != page.total) { %>
				<a href="<%- config.root %>page/<%= page.total %>" class="left btn border-right"><%= page.total %></a>
				<% } %>-->
			</div>
		</div>
	</div>
</div>
